* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../assets/images/background.png);
}

$border: rgb(118, 118, 118);
$cell-bg: rgb(202, 199, 199);
$field-bg: #8ed790;

@import './header';
@import 'gamefield';
@import './settings';
@import 'control-panel';
// @import 'modal';