.field {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  background-color: $field-bg;
  overflow: hidden;
}

.cell {
  border: 1px solid $border;
  border-radius: 10px;
  position: absolute;
  font-size: 3.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  background-color: $cell-bg;
  overflow: hidden;
}

.end-of-game {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}